@import url("colors.css");

* {
    font-size:16px;
    font-family: "FiraCode Nerd Font Mono";
}
window#waybar{
    border-radius: 10px;
    background: alpha(@bg,.6);
    border: 2px solid @fg;
}
.modules-left {
    padding:7px;
}
.modules-center {
    padding:7px;
}
.modules-right {
    padding:7px;
}
tooltip {
    background: alpha(@bg,.6);
    color: @fg;
}
#clock:hover, #custom-pacman:hover, #custom-notification:hover,#bluetooth:hover,#network:hover,#battery:hover, #cpu:hover,#memory:hover,#temperature:hover{
    transition: all .3s ease;
    color:@accent;
}
#custom-notification {
    font-family: "Material Icons";
    padding: 0px 5px;
    transition: all .3s ease;
    color:@fg;
}
#clock{
    padding: 0px 5px;
    color:@fg;
    transition: all .3s ease;
}
#custom-pacman{
    font-family: "Material Icons";
    font-size: 15px;
    padding: 0px 5px;
    transition: all .3s ease;
    color:@fg;
}
#custom-power{
    font-size: 16px;
    color: @fg
}
#workspaces {
    padding: 0px 5px;
}
#workspaces button {
    font-size: 20px;
    all:unset;
    padding: 0px 5px;
    color: alpha(@fg,.5);
    transition: all .2s ease;
}
#workspaces button:hover {
    font-size: 20px;
    color:@fg2;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.active {
    font-size: 20px;
    color: @fg;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#workspaces button.empty {
    font-size: 20px;
    color: #464e53;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
    font-size: 20px;
    color: @bg2;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.empty.active {
    font-size: 20px;
    color: @fg2;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#bluetooth{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@fg;
}
#network{
    font-family: "CodeNewRoman Nerd Font Propo";
    font-size: 13px;
    padding: 0px 5px;
    transition: all .3s ease;
    color:@fg;
}
#cava {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 15px;
    color: @fg;
    padding: 0 8px;
    margin: 0 4px;
}

#cava.silent {
    color: @fg;
}

#cava.updated {
    color: @fg;
}
#group-expand{
    padding: 0px 5px;
    transition: all .3s ease; 
}
#custom-expand{
    padding: 0px 5px;
    color:alpha(@bg2,.2);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .3s ease; 
}
#custom-expand:hover{
    color:@fg;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}
#custom-colorpicker{
    font-family: "CodeNewRoman Nerd Font Propo";
    padding: 0px 5px;
}
#cpu,#memory,#temperature{
    font-family: "CodeNewRoman Nerd Font Propo";
    padding: 0px 5px;
    transition: all .3s ease; 
    color:@fg;

}
#custom-endpoint{
    color:transparent;
    text-shadow: 0px 0px 1.5px alpha(@bg2,.2);

}
#tray{
    padding: 0px 5px;
    transition: all .3s ease; 

}
#tray menu * {
    padding: 0px 5px;
    transition: all .3s ease; 
}

#tray menu separator {
    padding: 0px 5px;
    transition: all .3s ease; 
}
